name: Build Memory.dll x86/x64

on:
  push:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x86, x64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore memory/Memory.csproj

      - name: Build for ${{ matrix.arch }}
        shell: pwsh
        env:
          MATRIX_ARCH: ${{ matrix.arch }}
        run: |
          if ($env:MATRIX_ARCH -eq "x86") {
              dotnet build memory/Memory.csproj -c Release -r win-x86 --self-contained false
          } else {
              dotnet build memory/Memory.csproj -c Release -r win-x64 --self-contained false
          }
