name: Build Memory.dll x86/x64

on:
  push:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore memory/Memory.csproj

      - name: Build for x86
        run: dotnet build memory/Memory.csproj -c Release -r win-x86 --self-contained false

      - name: Build for x64
        run: dotnet build memory/Memory.csproj -c Release -r win-x64 --self-contained false